[submodule "scripts"]
	path = scripts
	url = git@github.com:Digilent/digilent-vivado-scripts.git
[submodule "repo/vivado-library"]
	path = repo/vivado-library
	url = git@github.com:Digilent/vivado-library.git
